/* Stylesheet for Evidence 3 */

html body {
	vertical-align: top;
	margin: 0;
	padding: 0;
	color: ; /* Text Color */
	font-family: ; /* Font for the text */
	font-weight: ; /* Weight for the text */
	font-size: 1em;
}

h1 {
	vertical-align: top;
	color:aliceblue;
	font-weight: ; /* Weight for headers */
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 40px
}
h2, h3 {
	vertical-align: top;
	color:beige;
	font-weight: ; /* Weight for headers */
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px
		}
h4, h5 {
vertical-align: top;
	color:beige;
	font-weight: ; /* Weight for headers */
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 30px
}
h6 {
vertical-align: top;
	color:beige;
	font-weight: ; /* Weight for headers */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px
}
p {
	vertical-align: top;
	color: ;
	font-weight: ; /* Weight for headers */
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 17px
		}
header, section {
	vertical-align: top;
	max-width: 1200px;
	margin: 0 auto;
}

ul li {
	vertical-align: top;
	display: inline-block;
	padding: 5px;
}
nav a {
	text-decoration: none;
	color: ; /* Color for the text on navigation */
}
a {
vertical-align: top;
	color:darkgoldenrod;
	font-weight: ; /* Weight for headers */
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 20px
}
